.case_study{
	max-width: 100%;
	background: $whiteGray;
	padding: 150px 0;

	.case_info{
		text-align: center;

		.case_title{
			font-size: 36px;
			font-weight: 700;
			font-family: 'Source Sans Pro', sans-serif;
			letter-spacing: 3.6px;
			color: $gray;
			margin-bottom: 28px;
			text-transform: uppercase;
		}

		p{
			font-size: 14px;
			line-height: 29px;
			color: $grayText;
		}
	}

	.case_block-content{
		display: flex;
		align-items: center;
		margin-top: 40px;

		.ideas{
			text-align: center;
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
			background: $white;
			padding: 30px 50px 80px;
			box-sizing: border-box;
			flex-basis: 665px;
			position: relative;
			z-index: 2;

			.ideas_icon{
				width: 125px;
				height: 125px;
				margin: 50px auto;
				background: $orange;
				position: relative;
				clip-path: polygon(50% 0, 100% 50%, 50% 100%, 0 50%);

				img{
					position: absolute;
					top: 50%;
					left: 50%;
					transform: translate(-50%, -50%);
				}
			}

			.ideas-title{
				font-size: 18px;
				letter-spacing: 1.35px;
				color: $gray;
				margin-bottom: 26px;
			} 

			p.line{
				margin-bottom: 28px;

				&::after{
					content: '';
					width: 40px;
					height: 2px;
					background: $gray;
					margin-bottom: 16px;
					display: block;
					position: relative;
					left: 50%;
					transform: translateX(-50%);
				}
			}

			p{
				font-size: 14px;
				font-weight: 300;
				font-family: 'Source Sans Pro', sans-serif;
				line-height: 24px;
				letter-spacing: 1.05px;
				color: $grayText;
				margin-bottom: 60px;
			}

			a.ideas_btn{
				@include btn();
				width: 145px;
				cursor: pointer;
				font-size: 12px;
				font-weight: 300;
				line-height: 16px;
				letter-spacing: 0.12px;
				padding: 15px 0; 
			} 
		}

		.right_block{

			img{
				margin-left: -80px;
			}
		}
	}
}

@media screen and (max-width: 980px) {
	.case_study{
		padding: 100px 0;

		.case_block-content{
			
			.left_block, .right_block{
				flex-basis: 50%; 
			}

			.right_block{

				img{
					max-width: 100%;
				}	
			}

			.left_block{
				padding: 30px;
			}
		}
	}
}

@media screen and (max-width: 768px) {
	
	.case_study{

		.wrap{

			.case_block-content{
				
				justify-content: center;

				.left_block{
					padding: 30px 0;
					flex-basis: 100%;
				}

				.right_block{
					display: none;
				}
			}
		}
	}
}